body {
  overflow: hidden;
  position: relative;
}

.title-section {
  text-align: center;
  margin: 1.5em;
  margin-bottom: 0.5em;
}

.trait-title {
  border-bottom: 2px solid $blue;
  opacity: 0.3;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 1.5em;
}

h2 {
  color: $blue;
}

p {
  line-height: 150%;
  color: #333333;
}

h1 {
  font-size: 1em;
  color: white;
}

a {
  text-decoration: none;
}
