<section id="le-brunch" style="background-color: #FAFAFA;">
  <div class="container">
    <h2 class="title-section" data-aos="fade-up">Le brunch</h2>
    <div class="trait-title" data-aos="fade-up"></div>
    <div class="brunch-card" data-aos="fade-up">
      <div class="photo-container card-link-zoom">
        <%= image_tag "brunch2.jpg", class:"photo-brunch", alt:"Salade" %>
      </div>
      <div class="description-brunch">
        <h3>Venez déguster notre brunch chaque week-end</h3>
        <p>My place vous accueille chaque samedi et dimanche avec son brunch entre 11h30 et 15h ! Venez profiter de notre sélection de thé, café et chocolat chaud maison, notre jus de pomme artisanal bio, ainsi que de notre pain frais avec ses confitures, de nos œufs brouillés, tartes salées, salades composées, et de notre variété de desserts.</p>
      </div>
    </div>
  </div>
  <br>
</section>
