<div class="cards">
  <div class="card-category card1">
    Salades
  </div>

  <div class="card-category card2">
    Salades
  </div>

  <div class="card-category card3">
    Salades
  </div>

  <div class="card-category card4">
    Tartes
  </div>

  <div class="card-category card5">
    Cakes
  </div>

  <div class="card-category card6">
    Croque-monsieur
  </div>
</div>
