<div class="cards">


  <!-- <figure class="image-effect" data-aos="fade-up"> -->
      <!-- Expanded image -->
<!--     <img src="<%#= asset_path 'myplace21.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">
 -->
      <!-- Image text -->
<!--     <figcaption>
      <h3>Salades<span></span></h3>
    </figcaption>
  </figure>
 -->
  <!-- <figure class="image-effect" data-aos="fade-up"> -->
      <!-- Expanded image -->
<!--     <img src="<%#= asset_path 'myplace22.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">
 -->
      <!-- Image text -->
<!--     <figcaption>
      <h3>Salades<span></span></h3>
    </figcaption>
  </figure> -->

  <!-- <figure class="image-effect" data-aos="fade-up"> -->
      <!-- Expanded image -->
<!--     <img src="<%#= asset_path 'myplace24.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">
 -->
      <!-- Image text -->
<!--     <figcaption>
      <h3>Salades<span></span></h3>
    </figcaption>
  </figure>
 -->

<!--   <a class="card-link-zoom">
    <div class="card-category card1" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= asset_path 'myplace26.jpeg' %>);">

    </div>
  </a> -->

  <a class="card-link-zoom">
    <div class="card-category card2" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace21.jpg' %>);">
      Salades
    </div>
  </a>

<!--   <a class="card-link-zoom">
    <div class="card-category card3" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= asset_path 'myplace24.jpg' %>);">

    </div>
  </a> -->

  <a class="card-link-zoom">
    <div class="card-category card4" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace23.jpg' %>);">
      Tartes
    </div>
  </a>

  <a class="card-link-zoom">
    <div class="card-category card5" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace3.jpg' %>);">
      Cakes
    </div>
  </a>

<!--   <a class="card-link-zoom">
    <div class="card-category card6" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= asset_path 'myplace25.jpg' %>);">
      Croque-monsieur
    </div>
  </a> -->
</div>
