<section id="contact">
  <div class="container">
    <h2 class="title-section" data-aos="fade-up">Contact</h2>
    <div class="trait-title" data-aos="fade-up"></div>
    <div class="contact-informations">
      <div class="infos" data-aos="fade-up">
        <h3>Restaurant My Place Puteaux</h3>
        <p>6 Boulevard Richard Wallace, Puteaux, 92800</p>
        <p>Téléphone : <a href="tel:+33622135276">+33 6 22 13 52 76</a></p>
        <h3>Ouvert 7 jours sur 7</h3>
        <p>De 11h30 à 15h du lundi au vendredi</p>
        <p>De 11h30 à 15h le week-end pour notre brunch</p>
      </div>
      <div class="infos" data-aos="fade-up">
        <h3>Contact privatisation</h3>
        <p>Pour les réservations de groupe, les petit-déjeuner d’affaires ou les événements familiaux</p>
        <p>Contact au <a href="tel:+33622135276">+33 6 22 13 52 76</a></p>
        <p><em>Retrouvez-nous sur instagram !</em></p>
        <a href="https://www.instagram.com/restaurant_my_place/", target="blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <br>
</section>
