<div class="footer">
  <p>© 2020 restaurant-my-place.fr - Tous droits réservés - web : <%= link_to "chaput", root_path %></p>
  <div class="container footer-input ">
    <div class="footer-links">
      <a href="https://www.instagram.com/restaurant_my_place/", target="blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/My-Place-308158993141300/", target="blank"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>

