<section id="la-carte">
  <div class="container">
    <h2 class="title-section" data-aos="fade-up">La carte</h2>
    <div class="trait-title" data-aos="fade-up"></div>
    <h3 class="subhead-carte" data-aos="fade-up">Venez déguster nos salades à composer, nos tartes salées, nos soupes, nos cakes et nos plats chauds du jour !</h3>
    <%= render 'shared/cards-plats' %>
    <div class="link-carte" data-aos="fade-up">
      <%= link_to "Découvrez notre carte de nos plats", "/documents/la-carte-my-place.pdf", target: "_blank", class:"btn btn-ghost" %>
    </div>
  </div>
  <br>
</section>
