<section id="accueil">
  <div class="background-accueil">
    <div class="container">
      <div class="flex-text">
        <div class="text-banner">
          <h3 id="title-banner">My Place</h3>
          <p>RESTAURANT</p>
          <h4>Puteaux 92800</h4>
        </div>
      </div>
      <a href="#le-restaurant"><i class="fas fa-arrow-circle-down arrow-icon photo-link-zoom"></i></a>
    </div>
  </div>
</section>
