.description-restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

.adj-photo {
  text-align: center;
  max-width: 100%;
  justify-self: center;
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    width: 100%;
    text-align: left;
  }
}

.photo-desc {
  height: 70vh;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .description-restaurant {
    grid-template-columns: 1fr;
  }
  .photo-desc {
    height: 50vh;
  }
  .last-item-grid {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .description-restaurant {
    grid-template-columns: 1fr;
  }
  .photo-desc {
    height: 50vh;
  }
  .last-item-grid {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .description-restaurant {
    grid-template-columns: 1fr 1fr;
  }
  .photo-desc {
    height: 50vh;
  }
  .last-item-grid {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .description-restaurant {
    grid-template-columns: 1fr 1fr;
  }
  .photo-desc {
    height: 50vh;
  }
  .last-item-grid {
    display: none;
  }
}

@media (min-width: 1025px) {
  .description-restaurant {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo-desc {
    height: 65vh;
  }
  .last-item-grid {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .description-restaurant {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo-desc {
    height: 65vh;
  }
}
