.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-link-zoom {
  transition: transform .2s;
}

.card-link-zoom:hover {
  transform: scale(1.05);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// .image-effect {
//   background-color: #fff;
//   color: #444;
//   display: inline-block;
//   font-size: 24px;
//   height: 250px;
//   margin: 8px;
//   overflow: hidden;
//   position: relative;
//   text-align: center;
// }

// .image-effect * {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   -webkit-transition: all 0.45s ease;
//   transition: all 0.45s ease;
// }

// .image-effect:after {
//   background-color: $blue;
//   height: 150%;
//   bottom: -145%;
//   content: '';
//   left: 0;
//   right: 0;
//   position: absolute;
//   -webkit-transition: all 0.5s linear;
//   transition: all 0.5s linear;
// }

// .image-effect img {
//   vertical-align: top;
//   max-width: 100%;
//   backface-visibility: hidden;
// }

// .image-effect figcaption {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   align-items: center;
//   z-index: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   line-height: 1.1em;
//   opacity: 0;
//   -webkit-transition-delay: 0s;
//   transition-delay: 0s;
// }

// .image-effect h3 {
//   font-size: 1em;
//   font-weight: 400;
//   letter-spacing: 1px;
//   margin: 0;
//   text-transform: uppercase;
// }

// .image-effect h3 span {
//   display: block;
//   font-weight: 700;
// }

// .image-effect a {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 1;
// }

// .image-effect:hover > img,
// .image-effect.hover > img {
//   opacity: 0.1;
// }

// .image-effect:hover:after,
// .image-effect.hover:after {
//   bottom: 95%;
// }

// .image-effect:hover figcaption,
// .image-effect.hover figcaption {
//   opacity: 1;
//   -webkit-transition-delay: 0.4s;
//   transition-delay: 0.4s;
// }
