.contact-informations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.infos {
  text-align: center;
  p {
    margin: 0.3px;
    font-weight: lighter;
    color: #333333;
  }
  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0px;
    margin-top: 0.3em;
  }
  a {
    font-size: 2em;
    color: #333333;
  }
  a :hover {
    color: $blue;
    opacity: 0.6;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .contact-informations {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contact-informations {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contact-informations {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .contact-informations {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact-informations {
    grid-template-columns: 1fr 1fr;
  }
}
